@model IEnumerable<MKT.Entities.Models.Product>
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<section class="product">
    <div class="container"><!--  py-5-->
        <div class="row">
            <!-- py-5 -->
            <div class="m-auto text-center">
                <h1 class="product">Catálogo</h1>
                <br><br>
            </div>
            @foreach (var item in Model)
            {
    <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
            <div class="card-body">
                @{ var base64 = Convert.ToBase64String(item.FotoProducto);
                    var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                    var precioSin = item.Precio + 50; }
                <img src="@imgSrc" style="width:230px;height:230px" alt="" />
            </div>
        </div>
        <a class="btn btn-success" href="@Url.Action("ItemCart","Carts", new { idProduct = item.Id })">Agregar</a>
        <h6><br />@item.Descripcion</h6>
        <p><small><span>  $@item.Precio</span></small></p>
    </div>}
            <div class="row">
            </div>
        </div>
    </div>
</section>