@model IEnumerable<MKT.Entities.Models.Product>
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- = <section class="main">


            @if (User.Identity.IsAuthenticated)
            {
                <div class="container py-5">
                    <div class="row py-5">
                        <div class="col-lg-7 pt-5 text-center">
                            <h1 class="pt-5">BIENVENIDO!</h1>
                            <h2>@User.Identity.Name</h2>


                        </div>
                    </div>
                </div>
            }


        </section>



        <section class="new">
            <div class="container py-5">
                <div class="row pt-5">
                    <div class="col-lg-7 m-auto">
                        <div class="row text-center">
                            <div class="col-lg-4">
                                <img src="~/Content/carne.png" class="img-fluid" alt="" />
                                <h6>CARNES</h6>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/Content/vegetal.png" class="img-fluid" alt="" />
                                <h6>VEGETALES</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
</div>

 -->


<section class="product">
    <div class="container py-5">

        <div class="row py-5">
            <div class="m-auto text-center">
                <h1 style="color:darkgreen;">Lastra Market </h1>
                <br>
                <br>
                <div class="m-auto text-center">
                    <img src="~/Content/market.jpg" class="img-fluid" alt="" />
                </div>
                <h6 style="color:black;"><br><br>Para comenzar a comprar, ir a la sección Catálogo para ver los productos disponibles.</h6>
                <!-- <h6 style="color:blue;">***************************************************************************************************</h6>-->
            </div>
            
        </div>
    </div>
</section>

