@model IEnumerable<MKT.Entities.Models.Cart>
@{
    ViewBag.Title = "MisCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center">Mis Compras</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Fecha Compra</th>
                    <th>Total</th>
                    <th>Detalle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr id="row_@item.Id">
                    <td style="vertical-align: inherit;">
                        @item.Creado.ToString("dd/MM/yyyy")
                    </td>
                    <td style="vertical-align: inherit;">
                        @{
                            decimal total = 0;

                            foreach (var i in item.CartItem)
                            {
                                total += i.Cantidad * i.Product.Precio;
                            }
                        }
                        @total
                    </td>
                    <td class="float-right">
                        <a class="btn btn-info" style="font-size: 1rem;" href="@Url.Action("Index", "CartItem", new { id = item.Id})"><i class="fas fa-angle-right"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>